* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
	overflow-x: hidden;
}
	::selection {
		background: #ef5350;
		color: white;
	}

main, footer {
	display: none;
}

.parallax_bg {
	background-image: url("../images/bg.jpg");
	min-height: 100vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

header {
	overflow: hidden;
}
	#header-banner {
		width: 100vw;
		height: 100vh;
	}
	#header-title {
		position: absolute;
		width: 100vw;
		top: 35vh;
		font-size: 10vw;
		color: white;
		text-align: center;
	}
		#header-title div {
			display: inline-block;
			overflow: hidden;
			white-space: nowrap;
		}
		#header-title .main {
			z-index: 2;
			animation: showup 7s forwards;
			font-weight: bold;
		}
			#header-title .main img {
				height: 0.8em;
				padding-top: 0.1em;
			}
		#header-title .subtitle {
			z-index: 1;
			width: 0;
			animation: reveal 7s forwards;
		}
			#header-title .subtitle span {
				margin-left: -355px;
				animation: slidein 7s forwards;
				font-weight: 100;
			}

		@keyframes showup {
		    0% {opacity:0;}
		    20% {opacity:1;}
		    80% {opacity:1;}
		    100% {opacity:1;}
		}

		@keyframes slidein {
		    0% { margin-left:-3.5em; }
		    20% { margin-left:-3.5em; }
		    35% { margin-left:0px; }
		    100% { margin-left:0px; }
		}

		@keyframes reveal {
		    0% {opacity:0;width:0px;}
		    20% {opacity:1;width:0px;}
		    30% {width:2.7em;}
		    80% {opacity:1;}
		    100% {opacity:1;width:2.7em;}
		}

	#proceed-page {
		position: absolute;
		z-index: 2;
		color: white;
		text-align: center;
		font-size: 100px;
		color: white;
		width: 100vw;
		bottom: 2vw;	
	}

		#proceed-page i {
			opacity: 0.5;
			transition: opacity 0.5s;
			transition: text-shadow 0.3s;
		}

		#proceed-page i:hover {
			opacity: 1;
			text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc;
		}

main {
	height: 200vh;
}

footer {
	overflow: hidden;
}
	#footer-banner {
		background-color: #e0e0e0;
	}
		#footer-banner .title {
			padding: 0;
			margin: 0;
			width: 100vw;
			height: auto;
			background-color: #bdbdbd;
			padding: 10px;
			margin-bottom: 20px;
			box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
		}
		#footer-banner h1 {
			font-family: 'Helvetica', 'Arial', sans-serif;
			letter-spacing: 0;
			font-weight: 10;
		}
		#footer-banner h1 strong {
			font-family: 'Helvetica', 'Arial', sans-serif;
			letter-spacing: 0;
			font-weight: 1000;
			color: #da291c;
		}
		#footer-banner p, li {
			color: #212121;
		}
		#footer-banner .desc, .contacts {
			padding: 10px;
			display: inline-flex;
		}
		#footer-banner .desc {
			floating: left;
			width: 65%;
		}
		#footer-banner .contacts {
			floating: right;
			width: 30%;
		}
			#footer-banner .contacts ul li {
				margin-bottom: 5px;
			}
		#footer-banner .copyright {
			background-color: #424242;
			width: 100vw;
			padding: 15px;
		}
			#footer-banner .copyright p {
				color: #bdbdbd;
				font-size: 13px;
			}


