:root {
  --eligible-color: #80cbc4;
  --ineligible-color: #e57373;
}

#login-panel {
  width: 100vw;
  height: 100vh;
}
  #login {
    margin: 0 auto;
  }

#admin-panel {
  margin-bottom: 0;
}

#nav, #applications {
  padding: 0;
}

.applicant > .status, .applicant > .name, .applicant > .class, .applicant > .email, .applicant > .eligibility {
  cursor: pointer;
}
.applicant:hover {
  background-color: #eceff1;
}
.applicant.eligible > .eligibility {
  color: var(--eligible-color);
}
.applicant.ineligible > .eligibility {
  color: var(--ineligible-color);
}
.applicant.accepted > .status {
  color: var(--eligible-color);
}
.applicant:not(.accepted) > .status {
  color: var(--ineligible-color);
}

/* Select header */
#applications th:first-child {
  padding-left: 15px;
}

.select {
  padding-left: 15px;
}
