:root {
  --eligible-color: #80cbc4;
  --ineligible-color: #e57373;
}

#login-panel {
  width: 100vw;
  height: 100vh;
}
  #login {
    margin: 0 auto;
  }

.applicant {
  cursor: pointer;
}
.applicant.eligible {
  background-color: var(--eligible-color);
}
.applicant.ineligible {
  background-color: var(--ineligible-color);
}
