body, html, * {
	margin: 0;
	padding: 0;
}
::selection {
	text-shadow: 0 0 10px #ba68c8;
}

a {
	text-decoration: none;
	color: black;
}

p {
	font-weight: 100;
}

h1 {
	font-weight: 700;
}

body {
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}

nav {
	overflow-x: hidden;
	position: relative;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
	span#logo {
		float: left;
		padding: 15px;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
	}
	div.nav ul {
		float: right;
	}
	div.nav li {
		display: inline-block;
	}
	div.nav li a {
		height: 100%;
		text-decoration: none;
		display: block;
		padding: 15px;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		transition: background-color 0.5s, color 0.5s;

	}
	div.nav li a:visited {
		color: black;
	}
	div.nav li a:hover {
		background-color: gray;
		color: white;
	}

	@media only screen and (max-width: 520px) {
		span#logo {
			width: 100vw;
			margin: 0 auto;
		}
	}

div.title {
	background-image: url("../img/bg.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	width: 100vw;
	height: 500px;
	box-shadow: inset 0 0 500px rgba(0, 0, 0, 0.8);
	text-align: center;
	vertical-align: middle;
	line-height: 500px;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
	box-sizing: border-box;
	color: white;
}
	div.title h1 {
		color: white;
		text-transform: uppercase;
	}
	div.title h2 {
		color: white;
		text-transform: uppercase;
		font-size: 18px;
		letter-spacing: 2px;
		font-family: 'Open Sans', sans-serif;
	}

div.section {
	min-width: 100vw;
	background-color: white;
	display: table-row;
}
	.section.light {
		background-color: white;
	}
	.section.darken {
		background-color: #f5f5f5;
	}
	.section.center {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		padding: 30px;
		box-sizing: border-box;
	}
		.section.center h1 {
			font-weight: 700;
		}
	.section h1 {
		font-size: 24px;
	}
	.section .content {
		float: left;
		display: table-cell;
		width: 50%;
		height: 100%;
		text-align: left;
		padding: 20px;
		box-sizing: border-box;
		vertical-align: middle;
	}
		.section .content .align-mid {
			margin: 0 auto;
			width: 70%;
		}
		.section .content img {
			width: 70%;
			margin: 0 auto;
			display: block;
		}

	.section.bottom {
		background-image: url("/assets/img/bg.png");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-attachment: fixed;
		width: 100vw;
		height: 200px;
		text-align: center;
		margin: 0 auto;
		padding: 30px;
		padding-left: 0;
		padding-right: 0;
		display: table;
		color: white;
	}
			.section.bottom .bottom-content {
				display: table-cell;
				vertical-align: middle;
				color: white;
			}
			.bottom-content span a {
				color: white;
			}

div.officers {
	display: inline-block;
	min-width: 70%;
	width: 70%;
	margin: 0 auto;
	display: block;
	box-sizing: border-box;
}
	.officers h1 {
		text-align: center;
		padding: 20px;
		font-weight: 700;
	}
	.officers .profile {
		width: 50%;
		float: left;
		display: inline-block;
		box-sizing: border-box;
	}
	.profile .prof_pic {
		width: 30%;
		display: inline-block;
		float: left;
		padding: 10px;
		box-sizing: border-box;
	}
		.profile .prof_pic img {
			width: 100%;
		}
	.profile .prof_desc {
		width: 70%;
		float: left;
		box-sizing: border-box;
		padding: 10px;
	}
		.prof_desc h2 {
			font-size: 20px;
			font-weight: 400;
		}
		.prof_desc h3 {
			font-size: 15px;
			font-weight: 300;
		}

form {
	padding: 10px;
	border-left: 2px solid lightgray;
}
	input, textarea {
		font-family: "Open Sans", sans-serif;
	}
	input[name="name"], input[name="email"], input[name="subject"] {
		border: 0;
		border-bottom: 1.5px solid white;
		margin-bottom: 5px;
		transition: border-bottom 0.5s;
	}
	input[name="name"]:focus, input[name="email"]:focus, input[name="subject"]:focus {
		outline-width: 0;
		border-bottom: 1.5px solid blue;
	}
	input[name="name"] {
		width: 50%;
		box-sizing: border-box;
		padding: 5px;
		display: inline-block;
	}
	input[name="email"] {
		width: 50%;
		box-sizing: border-box;
		padding: 5px;
		display: inline-block;
	}
	input[name="subject"] {
		width: 100%;
		padding: 5px;
	}
	textarea {
		width: 100%;
		height: 200px;
		padding: 5px;
		resize: none;
		overflow-x: hidden;
		border: 0;
		border-left: 1.5px solid white;
		transition: border-left 0.5s;
	}
	textarea:focus {
		border-left: 1.5px solid blue;
		outline-width: 0;
	}
	input[type="submit"] {
		width: 100%;
	}

span.btn {
	border-style: solid;
	border-width: 1px;
	padding: 10px;
	min-width: 30vw;
	transition: background-color 1s, color 1s;
	text-decoration: none;
}
	span.btn:hover {
		background-color: gray;
		color: white;
	}
	span.btn a {
		text-decoration: none;
	}

footer {
	width: 100vw;
	padding: 30px;
	font-size: 15px;
	color: #7c8081;
	text-align: center;
	text-decoration: none;
	padding-left: 0;
	padding-right: 0;
}
	footer a {
		text-decoration: none;
		transition: color 1s;
		color: #7c8081;
		border: 0;
	}
	footer a:visited {
		color: #7c8081;
	}
	footer a:hover {
		color: #424444;
	}


	